@charset "utf-8";
#header{
	box-shadow: none;
	padding: 0;
	margin: 0;
	h1{
		margin:0;		
	}
	.go_back{
		display: block;
		position: absolute;
		left: 10px;
		top: 6px;
		a{
			color:#fff;
			font-size: 16px;
		}		
	}
}
.gradient_grey_1{
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.news_top{
	padding: 10px 15px;
	border: 1px solid #dfdfdf;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	position: relative;
	
	>span{
		&:first-child{
			color:#768db8;
			a{
				margin: 0 5px 0;
			}
		}
		input[type=bitton]{
			border: 1px solid #959eae;
			border-radius:2px;
			width: 17px;height: 17px;
			color:#3a61aa;
			font-size: 12px;
		}
	}
	ul{
		position: absolute;
		top:30px;left:38px;
		display: none;
		width: 100%;
		max-width: 200px;
		background-color: #fff;
		border: 4px solid #a8afbb;
		li{
			a{
				display: block;
				padding: 7px 10px;
				&.on{
					position: relative;
					background-color: #dfdfdf;
					&:after{
						position: absolute;
						top: 5px;right: 10px;
						content:"■";
						color:#6c788d;
					}
				}
			}
		}
	}

}

.news_wrap{
	header{
		padding: 10px 15px;
		border-bottom:1px solid #efefef;
		margin-bottom: 40px;
		h1{
			color:#000;
			font-weight: bold;
			margin-bottom: 10px;
			+p{
				font-size: 12px;
				color:#777;
				+p{
					text-align: right;
					font-size: 12px;
					margin-top: -5px;

					a{
						color:#143879;
						&:before{
							content:"\e802";
							color:#a1b1ce;
							margin-right: 5px;
						}					
					}
				}
			}
		}
		+div{
			padding: 0 15px 40px;
			.photo_wrap{
				margin-bottom: 20px;
			}
		}
	}
}
.btn_list{
	padding: 0 15px;
	margin-bottom: 20px;
	a{
		display: block;
		border: 1px solid #adb6c8;
		text-align: center;
		height: 32px;
		line-height: 32px;
	}

}
.reply_wrap{
	border-top: 2px solid #dfdfdf;
	border-bottom: 2px solid #dfdfdf;
	>p:first-child{
		position: relative;
		padding: 20px 95px 20px 15px;
		border-bottom: 1px solid #dfdfdf;
		strong{
			color:#ff8d00;
			font-weight: bold;
		}
		button{
			background-color: #3b84db;
			border: none;
			color: #fff;
			font-size: 12px;
			padding:3px 6px;
			position:absolute;
			top: 20px;
			right: 15px;
		}
	}
	li{
		padding:20px 15px;
		border-bottom: 1px dotted #aaa;
		p:first-child{
			margin-bottom: 5px;
			color: #143879;
			font-weight: bold;
			time{
				margin-left: 7px;
				color: #777;
				font-size: 12px;
				font-weight: normal;
			}
		}
		&.reply_b{
			padding-left: 40px;
			position: relative;
			&:before{
				content: "";
				display: inline-block;
				width: 15px;
				height: 15px;
				background: #ff0 url(../images/common/commet.png) -140px -40px no-repeat;
				position: absolute;
				left: 21px;
				top: 23px;
			}
		}
	}
	.reply_reload{
		padding: 20px 15px;
		text-align: right;
		button{
			margin-right: 10px;
			border:none;
			background: none;
			color: #143879;
			font-size: 12px;
			&:first-child{
				margin-right: 30px;
			}
		}
	}
}
.btn_3{
	padding: 20px 15px;
	ul{
	border: 1px solid #adb6c8;
	overflow: hidden;
		li{
			width: 33.3333%;
			float: left;
			a{
				display: block;
				text-align: center;
				height:32px;
				line-height: 32px;
				border-left: 1px solid #ded8e3
			}
			&:first-child {
				a{
					border: none;
				}
			}

		}
	}
}