@charset "utf-8";
@font-face {
      font-family: 'fontello';
      src: url('../font/fontello.eot?12873029');
      src: url('../font/fontello.eot?12873029#iefix') format('embedded-opentype'),
           url('../font/fontello.woff?12873029') format('woff'),
           url('../font/fontello.ttf?12873029') format('truetype'),
           url('../font/fontello.svg?12873029#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
*[class*="ico_font_"]:before,
*[class*="ico_font_"]:after{
	font-family: 'fontello';
}

*,
*:before,
*:after
{margin: 0;padding: 0;box-sizing:border-box;}
li{list-style:none;}
img,video{
	vertical-align: middle;
	max-width: 100%;
	border: none;
}
input{
	vertical-align: middle;
}
fieldset{border: none;}
a{
	text-decoration: none;
	color:#333;
	&:hover,&:focus{
		color:#415ce1;
	}
}
html{font-size: 14px;}
body,
input[type=text],input[type=tel],
input[type=url],input[type=search],
input[type=password],
select,textarea
{
	font: 1em/1.3 arial, Malgun Gothic, "맑은고딕", Gulim, "굴림", Dotum, "돋움", sans-serif;
	color:#333;
}
h1,h2,h3,h4,h5,h6,
strong,em,address
{
	font-size: 100%;
	font-weight: normal;
}
.blind, legend{
	position: absolute; left: -9999px;
}
.clearFix:after{
	content:"";
	display: block;
	clear: both;
}
.clearFix{
	*zoom:1;
}
button, input[type=button],input[type=submit],input[type=reset]{cursor: pointer;}
#header{
	position: relative;
	border-bottom: 1px solid #999;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
	padding-bottom: 20px;
	margin-bottom: 20px;
	.go_back{
		display: none;
	}
	#gnb{
		display: none;
		li{
			float: left;
			padding: 0 20px;
			height: 53px;
		}
		figure{
		font-size: 12px;
		text-align: center;
			&:before{
				font-size: 22px;
			}
		}
		.ico_font_1:before{
			content: "\e800";
		}
		.ico_font_2:before{
			content: "\e802";
		}
		.ico_font_3:before{
			content: "\e803";
		}
		.ico_font_4:before{
			content: "\e805";
		}
		.ico_font_5:before{
			content: "\e801";
		}
	}
}
#header h1 {
	background-color: #5580cf;
	text-align: center;
	padding: 8px 0;
	margin-bottom: 20px;
}
.login{
	position: absolute;
	top:3px;
	right: 5px;
	font-size: 10px;
	a{
		width: 69px;
		height: 28px;
		line-height: 28px;
		color:#fff;
		text-shadow: 0 0 2px rgba(0,0,0,0.3);
		background: red;
		display: block;
		text-align: center;
		border-radius: 3px;
		border: 1px solid rgba(29,45,27,0.8);
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6188cc+0,4778cc+46,4476ce+100 */
		background: #6188cc; /* Old browsers */
		background: -moz-linear-gradient(top,  #6188cc 0%, #4778cc 46%, #4476ce 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #6188cc 0%,#4778cc 46%,#4476ce 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #6188cc 0%,#4778cc 46%,#4476ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6188cc', endColorstr='#4476ce',GradientType=0 ); /* IE6-9 */
	}
}

#container{
	padding-bottom: 20px;
}

#footer{
	padding: 10px 0;
	background-color: #f4f7fa;
	border-top: 1px solid #cad3e4;
	text-align: center;
	.child_inline li{
		display: inline-block;
		margin-bottom: 10px;
		padding-left: 10px;
		position: relative;
		&:before{
			content:"";
			display: inline-block;
			width: 1px;
			height: 18px;
			background-color: #cad3e4;
			position: absolute;
			top: 1px;
			left: 4px;
		}
		&:first-child{
			padding: 0;
			&:before{
				content:none;
			}
		}

	}
}

/* 타이틀서식 */
.tit_1{
	font-size: 18px;
	color:#294b8a;
	font-weight: bold;
	margin-bottom: 15px;
	letter-spacing: -0.05em;
	padding-left: 10px;
}

.grid{
	.row:after{   //clearFic와 같은것
	content:"";
	display: block;
	clear: both;
	}
	.row{
		*zoom:1;
	}

	*[class*="col_pc_"]{
		float: left;
	}
	.col_pc_1{
		width: 8.33333%;
	}
	.col_pc_2{
		width: 8.33333%*2;
	}
	.col_pc_3{
		width: 8.33333%*3;
	}
	.col_pc_4{
		width: 8.33333%*4;
	}
	.col_pc_5{
		width: 8.33333%*5;
	}
	.col_pc_6{
		width: 8.33333%*6;
	}
	.col_pc_7{
		width: 8.33333%*7;
	}
	.col_pc_8{
		width: 8.33333%*8;
	}
	.col_pc_9{
		width: 8.33333%*9;
	}
	.col_pc_10{
		width: 8.33333%*10;
	}
	.col_pc_11{
		width: 8.33333%*11;
	}
	.col_pc_12{
		width: 8.33333%*12;
	}
	.col{padding: 0 10px;}
}

@media (max-width:480px) {
	.main_list{float:none;}
	.grid{
		.col_modile_1{
			width: 8.33333%;
		}
		.col_modile_2{
			width: 8.33333%*2;
		}
		.col_modile_3{
			width: 8.33333%*3;
		}
		.col_modile_4{
			width: 8.33333%*4;
		}
		.col_modile_5{
			width: 8.33333%*5;
		}
		.col_modile_6{
			width: 8.33333%*6;
		}
		.col_modile_7{
			width: 8.33333%*7;
		}
		.col_modile_8{
			width: 8.33333%*8;
		}
		.col_modile_9{
			width: 8.33333%*9;
		}
		.col_modile_10{
			width: 8.33333%*10;
		}
		.col_modile_11{
			width: 8.33333%*11;
		}
		.col_modile_12{
			width: 8.33333%*12;
		}
	}
}