@charset "utf-8";
.main_list{
	margin-bottom:10px;
	h3{
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;
		padding: 8px 10px;
		color: #000;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3d3d3+0,ffffff+100 */
		background: #d3d3d3; /* Old browsers */
		background: -moz-linear-gradient(top, #d3d3d3 0%, #ffffff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #d3d3d3 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #d3d3d3 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}
	li{
		padding:10px 45px 10px 10px;
		border-bottom: 1px dotted #ccc;
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		span{
			display: inline-block;
			width: 30px;
			height: 30px;
			border: 1px solid #ccc;
			border-radius:50%;
			text-align: center;
			line-height: 27px;
			color: #425ce1;
			position: absolute;
			right: 10px;
			top: 4px;
		}
	}
}